<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Akademy 2009 - The Grantlee template system</title>

<style type="text/css">
  .cp-doNotDisplay { display: none; }
  @media aural, braille, handheld, tty { .cp-doNotDisplay { display: inline; speak: normal; }}
  .cp-edit { text-align: right; }
  @media print, embossed { .cp-edit { display: none; }}
</style>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="meta" href="http://www.kde.org/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
  <meta name="trademark" content="KDE e.V." />
  <meta name="description" content="K Desktop Environment Homepage, KDE.org" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="robots" content="all" />
  <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection" />
<link rel="icon" href="../../media/images/favicon.ico" /><link rel="shortcut icon" href="../../media/images/favicon.ico" />
  <link rel="stylesheet" media="screen" type="text/css" title="KDE Colors" href="../../media/css.php%3Fmode=normal&amp;css-inc=%252F.css" />
  <link rel="stylesheet" media="print, embossed" type="text/css" href="../../media/css.php%3Fmode=print&amp;css-inc=%252F.css" />
  <link rel="alternate stylesheet" media="screen, aural, handheld, tty, braille" type="text/css" title="Flat" href="../../media/css.php%3Fmode=flat&amp;css-inc=%252F.css" />
  <link rel="alternate stylesheet" media="screen" type="text/css" title="Browser Colors" href="../../media/css.php%3Fcolor&amp;background&amp;link.css" />
  <link rel="alternate stylesheet" media="screen" type="text/css" title="White on Black" href="../../media/css.php%3Fcolor=%23FFFFFF&amp;background=%23000000&amp;link=%23FF8080.css" />
  <link rel="alternate stylesheet" media="screen" type="text/css" title="Yellow on Blue" href="../../media/css.php%3Fcolor=%23EEEE80&amp;background=%23000060&amp;link=%23FFAA80.css" />

</head>

<body  id="cp-site-akademy2009kdeorg">

<ul class="cp-doNotDisplay">
  <li><a href="119.php.html#cp-content" accesskey="2">Skip to content</a></li>
  <li><a href="119.php.html#cp-menu" accesskey="5">Skip to link menu</a></li>
</ul>


<script type="text/javascript" src="../../media/javascripts/jquery-1.4.2.min.js"></script>
<div id="container">
<div id="header">
  <div id="header_top">
        <div><div>
    <img alt ="" src="../../media/images/top-kde.jpg"/>
    Akademy 2009    
  </div></div></div>
  <div id="header_bottom">

    <div id="menu">
&nbsp;    </div>
  </div>
</div>
<!-- End page header -->
    <div id="body_wrapper">
      <div id="body">
        <!-- begin main content -->
        <div id="right">
          <div class="content">
          <div id="main">
            <div class="clearer">&nbsp;</div>
<a name="cp-content"></a>
<h2>The Grantlee template system</h2>
<div style='clear:both;'></div>

<p><b>Speaker:</b> <a href="119.php.html#bio">Stephen Kelly</a></p>

<p>The Grantlee Template System is a port of the Django Template System[1] to Qt.
The intent of the system is to encourage a clean separation of application and
presentation logic, and to take the presentation of information out of the
hands of developers and into the hands of artists.</p><p>Currently, many KDE applications create content for display or export using
the QTextDocument system, or simply by building a string of markup like html,
and rendering that for the user. Some applications allow customization of the
appearance of the generated output by either allowing the user to specify
custom css, or by changing the generated html based on user configuration. For
example, KMail allows configuration of the email view with 'Fancy Headers',
'Enterprise Headers', 'Brief Headers' and several others. Kopete allows for
more user control as it contains a theming system which allows users to write
html themes. The Kopete system only allows variable substitution however. It
doesn't provide any mechanism for conditionals or loops for example.</p><p>Using the Grantlee Template System it is possible to let artists or users
completely customize the appearance or theme of generated output. Potential
users of the system include KJots, KMail, KNode, and Kexi for generating
reports. As the system depends only on QtCore, QtPlugin and QtScript, the
system could be used by many more applications beyond KDE.</p><p>The template system works by using QObject introspection and the QVariant
system to resolve variables in a supplied context. As in the Django system,
variables may be resolved to multiple levels of depth. For example, if obj is
an instance of MyObject with a property myProp which returns a list, then {{
obj.myProp.1 }} will resolve to the item at index 1 of the list.</p><p>The template syntax may be extended by application developers to meet specific
needs by using the Qt Plugin system to write a tag library.</p><p>My talk will center around an introduction to the template syntax, how to take
advantage of the system in a KDE application, and how to extend the template
syntax to support application specific uses.</p><p>[1] http://docs.djangoproject.com/en/dev/ref/templates/</p>

<a name="bio"/>
<h2>Stephen Kelly</h2>


<p><img src="../photos/301.html" alt="[Stephen Kelly]" class="speakerphoto" /></p>


<p>Stephen Kelly is a KDE contributor since 2007. Since that time he has been the 
maintainer of the KJots note taking application and a developer on the Akonadi 
cross-desktop PIM infrastructure project. He has also contributed in areas of 
technical documentation and promotion.</p>

<br clear="all" />
            </div>
          </div>
        </div>
        <div id="left">
          <div class="menu_box">
<!-- /srv/www/generated/akademy2009.kde.org/-->
<!-- conference/presentation/119.php-->
<!-- /-->
<div class="menutitle"><div>
<h2 id="cp-menu-overview">Overview</h2>
<a href="119.php.html#cp-skip-overview" class="cp-doNotDisplay">Skip menu "Overview"</a>
</div></div>
<ul>
<li>
<a href="../../index.html">Akademy 2009</a>
</li>
</ul>

<div class="menutitle"><div>
<h2 id="cp-menu-conference">Conference</h2>
<a href="119.php.html#cp-skip-conference" class="cp-doNotDisplay">Skip menu "Conference"</a>
</div></div>
<ul>
<li>
<a href="../program.php.html">Program</a>
</li>
<li>
<a href="../presentations.php.html">Presentations</a>
</li>
<li>
<a href="../speakers.php.html">Speakers</a>
</li>
<li>
<a href="../papers/index.html">Technical Papers</a>
</li>
</ul>

<div class="menutitle"><div>
<h2 id="cp-menu-information">Information</h2>
<a href="119.php.html#cp-skip-information" class="cp-doNotDisplay">Skip menu "Information"</a>
</div></div>
<ul>
<li>
<a href="../../contact.php.html">Contact</a>
</li>
</ul>

<div class="menutitle"><div>
<h2 id="cp-menu-previousevents">Previous Events</h2>
<a href="119.php.html#cp-skip-previousevents" class="cp-doNotDisplay">Skip menu "Previous Events"</a>
</div></div>
<ul>
<li>
<a href="http://akademy2008.kde.org/">aKademy 2008</a>
</li>
<li>
<a href="http://akademy2007.kde.org/">aKademy 2007</a>
</li>
<li>
<a href="http://akademy2006.kde.org/">aKademy 2006</a>
</li>
<li>
<a href="http://conference2005.kde.org/">aKademy 2005</a>
</li>
<li>
<a href="http://conference2004.kde.org/">aKademy 2004</a>
</li>
<li>
<a href="http://events.kde.org/info/kastle/">Kastle 2003</a>
</li>
</ul>

<div class="cp-doNotDisplay">
  <h2>Global navigation links</h2>
  <ul>
    <li><a href="http://www.kde.org/" accesskey="8">KDE Home</a></li>
    <li><a href="http://accessibility.kde.org/" accesskey="9">KDE Accessibility Home</a></li>
    <li><a href="../../media/accesskeys.php.html" accesskey="0">Description of Access Keys</a></li>
    <li><a href="119.php.html#cp-content">Back to content</a></li>
    <li><a href="119.php.html#cp-menu">Back to menu</a></li>
  </ul>
</div>


             <div class="menutitle"><div>
               <h2 id="cp-menu-search">Search:</h2>
             </div></div>

             <div></div>
             <form method="get" name="Searchform" action="https://akademy2009.kde.org/media/search.php"><p style="text-align:center">
               <span class="cp-doNotDisplay"><label for="Search" accesskey="4">Search:</label></span>
               <input style="width:80%" type="text" size="10" name="q" id="Search" value="" /><br />
               <input style="width:80%" type="submit" value=" Search " name="Button" id="searchButton" />
             </p></form>



          </div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
    <div id="end_body"></div>

    <div id="footer"><div id="footer_text">
        Maintained by <a href="mailto:&#x61;&#x6B;&#x61;&#100;&#101;&#x6D;&#121;&#x2D;&#x74;&#x65;&#97;&#109;&#x40;&#x6B;&#100;&#x65;&#x2E;&#111;&#x72;&#103;">The Akademy Team</a><br />
				KDE<sup>&#174;</sup> and <a href="../../media/images/trademark_kde_gear_black_logo.png">the K Desktop Environment<sup>&#174;</sup> logo</a> are registered trademarks of 				<a href="http://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
        <a href="http://www.kde.org/contact/impressum.php">Legal</a>
    </div></div>
  </div>

<!--
WARNING: DO NOT SEND MAIL TO THE FOLLOWING EMAIL ADDRESS! YOU WILL
BE BLOCKED INSTANTLY AND PERMANENTLY!
<a href="mailto:aaaatrap-63f1f56d7a3ad84a@kde.org">Block me</a>
WARNING END
-->




</body>
</html>
